In [1]:
#Import dependencies.
import pandas as pd 
import gmaps
import requests
#Import API key.
from config import g_key

In [2]:
#Storing CSV file into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Eenhana,52,NaN,2022-10-06 01:46:08,18,-17.4667,16.3333,69.46,4.59
1,1,Ciego De Avila,29,CU,2022-10-06 01:49:43,72,21.8400,-78.7619,74.64,6.11
2,2,New Norfolk,100,AU,2022-10-06 01:49:44,61,-42.7826,147.0587,58.91,11.65
3,3,Hobart,75,AU,2022-10-06 01:49:39,69,-42.8794,147.3294,59.25,14.97
4,4,Hermanus,3,ZA,2022-10-06 01:49:44,82,-34.4187,19.2345,45.81,12.57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,Celestun,4,MX,2022-10-06 01:49:46,64,20.8667,-90.4000,77.43,12.55
11,11,Piedras Negras,5,MX,2022-10-06 01:49:47,48,28.7000,-100.5167,79.65,8.37
17,17,Lorengau,73,PG,2022-10-06 01:49:50,71,-2.0226,147.2712,85.50,12.50
22,22,Cabo San Lucas,69,MX,2022-10-06 01:48:25,66,22.8909,-109.9124,83.52,3.00
24,24,Vila Velha,40,BR,2022-10-06 01:47:11,88,-20.3297,-40.2925,75.15,5.75
35,35,Cartagena,40,CO,2022-10-06 01:48:49,78,10.3997,-75.5144,82.02,2.30
36,36,Bathsheba,75,BB,2022-10-06 01:49:56,83,13.2167,-59.5167,81.21,16.11
42,42,Bachaquero,100,VE,2022-10-06 01:49:59,82,9.9694,-71.1494,80.22,5.55
44,44,Vaini,100,TO,2022-10-06 01:50:00,83,-21.2000,-175.2000,76.60,8.68
48,48,Alofi,75,NU,2022-10-06 01:51:02,69,-19.0595,-169.9187,82.29,13.80

In [12]:
preferred_cities_df.count()

City_ID       150
City          150
Cloudiness    150
Country       150
Date          150
Humidity      150
Lat           150
Lng           150
Max Temp      150
Wind Speed    150
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7         Celestun      MX     77.43  20.8667  -90.4000
11  Piedras Negras      MX     79.65  28.7000 -100.5167
17        Lorengau      PG     85.50  -2.0226  147.2712
22  Cabo San Lucas      MX     83.52  22.8909 -109.9124
24      Vila Velha      BR     75.15 -20.3297  -40.2925
35       Cartagena      CO     82.02  10.3997  -75.5144
36       Bathsheba      BB     81.21  13.2167  -59.5167
42      Bachaquero      VE     80.22   9.9694  -71.1494
44           Vaini      TO     76.60 -21.2000 -175.2000
48           Alofi      NU     82.29 -19.0595 -169.9187

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))