In [1]:
#Import dependencies.
import pandas as pd 
import gmaps
import requests
import numpy as np
#Import API key.
from config import g_key
#Configure gmaps
gmaps.configure(api_key=g_key)
import gmaps.datasets

In [2]:
#Storing CSV file into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Benguela,AO,71.40,broken clouds,-12.5763,13.4055,Hotel Praia Morena
1,4,Kavieng,PG,84.20,broken clouds,-2.5744,150.7967,Nusa Island Retreat
2,9,Bengkulu,ID,80.83,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
3,15,Hithadhoo,MV,82.56,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,18,Wanning,CN,82.44,scattered clouds,18.8003,110.3967,Paradise Hotel

In [3]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure(center=(30.0,31.0), zoom_level =1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Coahuayana"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Coahuayana"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Lazaro Cardenas"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Zihuatanejo"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Acapulco"]

In [6]:
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [28]:
# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level =1.5)
Coahuayana = start
Lazaro_Cardenas = stop1
Zihuatanejo = stop2
Acapulco = stop3

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(Coahuayana, Coahuayana, 
    waypoints= [Lazaro_Cardenas, Zihuatanejo, Acapulco],
    travel_mode = 'DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,142,Coahuayana,MX,76.06,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
1,356,Lazaro Cardenas,MX,76.75,broken clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
2,421,Zihuatanejo,MX,79.00,overcast clouds,17.6333,-101.5500,La Casa Que Canta
3,446,Acapulco,MX,78.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [22]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [23]:
# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
#Add marker layer for each city.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))